/* VARIABLES */
:root {
    --header-footer-color: #2C3E50;
    --header-height: 80px;
    --primarybac-color: #36BC9C;
    --otherinfo-section-color: #3A546D;
    --contact-text-color: #2C3E50;
}

/* RESET */
img {
    max-width: 100%;
    display: inline-block;
}

/* COMMON */

.ms_separation {
    min-width: 150px;
    position: relative;
}

.ms_line {
    width: 30%;
    max-width: 150px;
    border-bottom: 3px solid;
}

.ms_separation i {
    margin: 0 20px;
    font-size: 2rem;
}
/* HEADER */
header .navbar {
    height: var(--header-height);
    color: white;
    background-color: var(--header-footer-color);
}

.navbar button {
    border-color: white;
}

.navbar-toggler-icon {
    filter: invert(1);
}
.nav-link {
    color: white;
}
/* /HEADER */

/* MAIN */

/* Jumbotron */
.ms_jumbotron {
    margin-top: var(--header-height);
    color: white;
    background-color: var(--primarybac-color);
}

.ms_jumbotron img {
    width: 200px;
}

/* /Jumbotron */

/* Portfolio-section */
#portfolio {
    color: var(--contact-text-color);
}
/* /Portfolio-section */

/* About-section */
#about {
    background-color: var(--primarybac-color);
    color: white;
}
.ms_container {
    max-width: 60%;
    margin: 0 auto;
}
/* /About-section */

/* Contact-section */
.form-control {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    border-bottom: 1px solid var(--contact-text-color);
}

.form-control:focus {
    border-color: unset;
    box-shadow: none;
}

#floatingTextarea2 {
    height: 150px;
}

#contact .btn {
    color: white;
    background-color: var(--primarybac-color);
    border: 1px solid var(--primarybac-color);
}

#contact .btn:hover {
    color: var(--primarybac-color);
    background-color: initial;

}
/* /Contact-section */
/* /MAIN */

/* FOOTER */
footer {
    background-color: var(--header-footer-color);
    color: white;
}
/* Other-info-section */
.ms_info {
    color: white;
    background-color: var(--otherinfo-section-color);
}

.ms_info a {
    color: inherit;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 1.5rem;
}

.ms_info a:hover {
    transform: scale(1.1);
}

.ms_info ul {
    list-style-type: none;
    padding: 0;
}

.ms_start {
    color: var(--primarybac-color);
    text-decoration: underline;
}
/* /Other-info-section */
/* /FOOTER */
