/* VARIABLES */
:root {
    --header-footer-color: #2C3E50;
    --header-height: 80px;
    --jumbotron-color: #36BC9C;
    --otherinfo-section-color: #3A546D;
    --contact-text-color: #2C3E50;
}

/* RESET */
img {
    max-width: 100%;
    display: inline-block;
}

/* COMMON */

.ms_separation {
    min-width: 150px;
    position: relative;
}

.ms_line {
    width: 30%;
    max-width: 150px;
    border-bottom: 3px solid;
}

.ms_separation i {
    margin: 0 20px;
    font-size: 2rem;
}
/* HEADER */
header .navbar {
    height: var(--header-height);
    color: white;
    background-color: var(--header-footer-color);
}

.navbar button {
    border-color: white;
}

.navbar-toggler-icon {
    filter: invert(1);
}
.nav-link {
    color: white;
}
/* /HEADER */

/* MAIN */

/* Jumbotron */
.ms_jumbotron {
    /* debug */
    margin-top: var(--header-height);
    color: white;
    background-color: var(--jumbotron-color);
}

.ms_jumbotron img {
    width: 200px;
}
/* /Jumbotron */

/* Portfolio-section */
[class*="col-"] {
    border: 1px solid orange;
}
/* /Portfolio-section */

/* About-section */
.about {
    background-color: var(--jumbotron-color);
}
.ms_container {
    max-width: 60%;
    margin: 0 auto;
    /* debug */
    border: 1px solid black;
}
/* /About-section */

/* Contact-section */

/* /Contact-section */

/* Other-info-section */
    .info {
        /* debug */
        background-color: var(--otherinfo-section-color);
    }
/* /Other-info-section */
/* /MAIN */

/* FOOTER */
footer {
    background-color: var(--header-footer-color);
}
/* /FOOTER */
