/* VARIABLES */
:root {
    --header-color: #2C3E50;
    --header-height: 80px;
    --jumbotron-color: #36BC9C;
    --about-section-color: #3A546D;
    --contact-text-color: #2C3E50;
}

/* RESET */
img {
    max-width: 100%;
}

/* COMMON DEBUG */
.container {
    border: 1px solid red;
}

/* HEADER */
header {
    /* debug */
    height: var(--header-height);
    background-color: var(--header-color);
}
/* /HEADER */

/* MAIN */

/* Jumbotron */
.jumbotron {
    /* debug */
    height: 200px;
    background-color: var(--jumbotron-color);
}
/* /Jumbotron */

/* Portfolio-section */
[class*="col-"] {
    border: 1px solid orange;
}
/* /Portfolio-section */

/* About-section */
.ms_container {
    max-width: 60%;
    margin: 0 auto;
    /* debug */
    border: 1px solid black;
}
/* /About-section */

/* /MAIN */
